body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login__form {
  background: #eee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
}

// .pageloader__active {
//   transform: translateY(0%);
// }

.verify-me-progress {
  background-color: #fff;
  border: 2px solid #555;
  border-radius: 3px;
  display: inline-block;
  height: 24px;
  margin-right: 12px;
  width: 24px;
}

.verify-me-container {
  display: flex;
  left: 20px;
  position: absolute;
  right: 20px;
  top: 116px;

  &.in-progress {
    .verify-me-progress {
      animation: anim-effect-verify 0.5s ease-out forwards;
      background-color: #ccc;
      border: 0;
    }

    .verify-me-text {
      display: none;
    }
  }

  &.done {
    display: none;
  }
}

@keyframes anim-effect-verify {
  0% {
    box-shadow: inset 0 0 0 16px #fff;
    margin: 0;
  }

  50% {
    box-shadow: inset 0 0 0 0px #fff;
  }

  75% {
    width: 26px;
  }

  100% {
    width: 100%;
    margin: 0;
  }
}

.progress {
  background: #21b0f9;
  border-radius: 3px;
  display: none;
  height: 24px;
  transition: width 0.25s;
  width: 0;
}

.verify-me-text {
  color: #000;
  display: inline-block;
  font-size: 1rem;
}

.verified-container {
  display: none;
  left: 20px;
  position: absolute;
  right: 20px;
  top: 116px;
}

.verified-text {
  display: inline-block;
  font-size: 16px;
  color: #000;
}

.checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #21b0f9;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px #21b0f9;
  display: inline-block;
  height: 24px;
  margin-left: 2px;
  margin-right: 12px;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 5;
  width: 24px;
}

.checkmark-check {
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  transform-origin: 50% 50%;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #21b0f9;
  }
}

.error-container {
  background-color: #f9f9f9;
  display: none;
}

.exclamation {
  width: 32px;
  height: 32px;
  margin: 22px 8px -2px -2px;
  display: inline-block;
}

.error-text {
  display: inline-block;
  font-size: 16px;
  color: #500;
}

.slow-warning {
  display: none;
  position: absolute;
  font-size: 12px;
  left: 24px;
  top: 56px;
}

a.help.warn {
  color: #ff9600;
}

.column-aside {
  left: 220px;
  width: 80px;
}

h1 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  text-transform: lowercase;
  color: #21b0f9;
  margin: 10px 0 4px 0;
}

img.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 4px 0 -2px;
}

h2 {
  font-size: 11px;
  margin: 0;
}

a.help {
  font-size: 12px;
  color: #aaa;
  text-decoration: underline;
}

a.help:hover {
  color: #000;
}
