<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="Register.scss" inline)
    script(src="./Register.ts" inline)
  body
  .pageloader.pageloader__active#pageloader
    form.login__form.box(onsubmit="handleRegister(this); return false;")
      .field.control.has-icons-left
        input.input(type="text", name="name" placeholder="Username" required)
        span.icon.is-left
          i.ion-lock-combination
      .field.control.has-icons-left
        input.input(type="email", name="email" placeholder="Email" required)
        span.icon.is-left
          i.ion-email
      .field.control.has-icons-left
        input.input(type="password", name="password" placeholder="Password" required)
        span.icon.is-left
          i.ion-person
      input.button.is-primary(type="submit", value="Submit")
    script.
      document.addEventListener('DOMContentLoaded', () => {
        try {
          resourceEval(`resource.CefLoadHandlerSingleton.doneLoading('Register')`)
        } catch (error) {
          console.warn('resourceEval not supported!')
        }
      })
