body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login__form {
  background: #eee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

// .pageloader__active {
//   transform: translateY(0%);
// }
